body{
  color: #666;
}
.box{
  margin: 200px auto;
  width: 200px;
}
#txtInput{
  width: 100px;
  height: 40px;
  border-radius: 40px;
  padding-left: 20px;
  outline: none;
  border: 1px solid #ccc;
  transition: all .8s;
  /* background: url(../image/search-icon.png) no-repeat 20px; */
  background-color: rgb(245, 238, 238);
  color: transparent;
  text-shadow: 0 0 0 #333;
}
#txtInput:focus{
  width: 200px;
  box-shadow: 0 0 5px rgba(109,207,246,.5);
  background-color: #fff;
}

ul{
  position: relative;
  left: 10px;
  width: 200px;
  list-style: none;
  padding: 0;
  margin: 0;
}
li{
  height: 30px;
  line-height: 30px;
  cursor: pointer;
}
li:hover{
  color: rgb(241, 228, 230);
}


